<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korshine - About Us</title>
</head>
<body>
    <nav>
        <div><a href="../index.html">Insert Logo here</a></div>
        <div><a href="AboutUs.html">About Us</a></div>
        <div><a href="Partnerships.html">Partnerships</a></div>
        <div><a href="CaseStudies.html">Case Studies</a></div>
        <div><a href="Insights.html">Insights</a></div>
        <div><a href="JoinUs.html">Join Us</a></div>
        <div><a href="Connect.html">Connect</a></div>
    </nav>
    <main>
        <p class="main-content">
            Korshine was founded to be a technology-first advertising company, driven by the intent to 
            create the largest digital reach in the country. To realize this objective, we developed more 
            than 10 high-value partnerships, including a significant collaboration with IRCTC. Today, 
            Korshine asserts a reach of over 500 Million+ people in India, forming a testament to the 
            efforts of taking it to the next step
        </p>
        <div>
            <section>
                <h3>
                    <u>Our Leadership</u>
                </h3>
                <p>
                    Alok: “The power of digital advertising is in its ability to target with precision and measure 
                    with accuracy. I believe the next decade of advertising format will be dominated through 
                    digital solutions.”
                    Shobhit: “The benchmark of any solution is simple; it needs to be right, true, and real. So 
                    long as we cater to this north star, we will continue to weave narratives that transcend ads and 
                    become part of the consumer's life tapestry.”
                    Zubin: “We empower our team to embrace challenges, foster innovation and cultivate a 
                    culture where individual success fuels our collective achievement, resulting in exceptional 
                    client service.”
                </p>
            </section>
            <section>
                <h3>
                    <u>Vision Statement</u>
                </h3>
                <p>
                    Building a value-driven network of clients and media where every campaign is a window to a 
                    story, nurtured over time to truly connect to its goal for a lasting experience.
                </p>
            </section>
            <section>
                <h3>
                    <u>Mission Statement</u>
                </h3>
                <p>
                    To empower businesses of all sizes to reach their full potential by providing customised and 
                    data-oriented advertising solutions.
                </p>
            </section>

        </div>
    </main>
</body>
</html>