<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshine - case Studies</title>
</head>
<body>
    <nav>
        <div><a href="../index.html">Insert Logo here</a></div>
        <div><a href="AboutUs.html">About Us</a></div>
        <div><a href="Partnerships.html">Partnerships</a></div>
        <div><a href="CaseStudies.html">Case Studies</a></div>
        <div><a href="Insights.html">Insights</a></div>
        <div><a href="JoinUs.html">Join Us</a></div>
        <div><a href="Connect.html">Connect</a></div>
    </nav>
    <main>
        <p>
            At Korshine, we take pride in delivering results-driven advertising solutions that help our 
            clients reach their target audience and achieve their marketing goals. Discover how we helped 
            leading brands and made a lasting impression with our winning advertising campaigns. Our 
            case studies highlight some of our biggest success stories.
        </p>
    </main>
</body>
</html>