<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshine - Blogs & Resources</title>
</head>
<body>
    <nav>
        <div><a href="../index.html">Insert Logo here</a></div>
        <div><a href="AboutUs.html">About Us</a></div>
        <div><a href="Partnerships.html">Partnerships</a></div>
        <div><a href="CaseStudies.html">Case Studies</a></div>
        <div><a href="Insights.html">Insights</a></div>
        <div><a href="JoinUs.html">Join Us</a></div>
        <div><a href="Connect.html">Connect</a></div>
    </nav>
    <main>
        <p>
            Welcome to the Korshine blog, your source for cutting-edge insights and inspiration in the 
            world of advertising. Our team of marketers are constantly on the lookout for emerging 
            trends, innovations, and best practices in advertising. From new technological developments 
            to the latest insights, we cover it all!
        </p>
    </main>
</body>
</html>