<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshine - Career</title>
</head>
<body>
    <nav>
        <div><a href="../index.html">Insert Logo here</a></div>
        <div><a href="AboutUs.html">About Us</a></div>
        <div><a href="Partnerships.html">Partnerships</a></div>
        <div><a href="CaseStudies.html">Case Studies</a></div>
        <div><a href="Insights.html">Insights</a></div>
        <div><a href="JoinUs.html">Join Us</a></div>
        <div><a href="Connect.html">Connect</a></div>
    </nav>
    <main>
        <ol>
            <li><h3>A Day in the Life of Koshine</h3>(Attatch Images to showcase employee lifestyle)</li>
            <li>
                <h3>Our Leadership</h3>
                <p>
                    Leading the charge at Korshine, our leadership brings together a vibrant mix of vision and 
                    expertise. Their commitment to excellence and innovation sets the tone for a dynamic and 
                    thriving work environment, shaping the success story of Korshine. 
                </p>
            </li>
            <li>
                <h3>
                    Team
                </h3>
                <p>
                    Meet the brilliant minds powering Korshine. Our team of passion-driven professionals 
                    bring diverse experience and cutting-edge innovation to every project we undertake. With 
                    a focus on collaboration and creativity, we work tirelessly to deliver campaign solutions 
                    that exceed your expectations. Get to know us better!
                </p>
            </li>
            <li>
                <h3>
                    Benefits
                </h3>
                <p>
                    At Korshine, we prioritize the well-being and growth of our team. Our comprehensive 
                    benefits package includes:
                    <ul>
                        <li>Health Insurance</li>
                        <li>Career Developments</li>
                        <li>Wellness Programs</li>
                        <li>Paid Off Time</li>
                    </ul>
                </p>
            </li>
            <li>
                <h3>
                    Openings
                </h3>
                <p>
                    Become part of the Korshine family! Discover enticing job opportunities in diverse 
                    departments. We're seeking skilled individuals with a passion for advertising, ready to 
                    make a meaningful impact on our journey as industry innovators.
                    <ul>
                        <li>
                            Job Openings in different departments and their
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h3>
                    Interview Journey
                </h3>
                <p>
                    Embark on your career journey with Korshine through a seamless interview process:
                    <ul>
                        <li>Telephonic Round</li>
                        <li>Tech Round</li>
                        <li>Virtual Interview</li>
                    </ul>
                </p>
            </li>
            <li>
                <h3>
                    <a href="Connect.html">CTA and Contact Details</a>
                </h3>
            </li>
        </ol>
    </main>
</body>
</html>