<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshine - Partnerships</title>
</head>
<body>
    <nav>
        <div><a href="../index.html">Insert Logo here</a></div>
        <div><a href="AboutUs.html">About Us</a></div>
        <div><a href="Partnerships.html">Partnerships</a></div>
        <div><a href="CaseStudies.html">Case Studies</a></div>
        <div><a href="Insights.html">Insights</a></div>
        <div><a href="JoinUs.html">Join Us</a></div>
        <div><a href="Connect.html">Connect</a></div>
    </nav>
    <main>
        <p>
            We understand that advertising isn't one-size-fits-all, that's why we offer a wide range of 
            media solutions that can be customized to your brand's unique needs.
        </p>
        <ul>
            <li>Digital</li>
            <li>Airports</li>
            <li>Metro</li>
            <li>Railway Stations</li>
            <li>Street Furniture</li>
            <li>Cabs</li>
            <li>Autos</li>
            <li>BQS</li>
        </ul>
    </main>
</body>
</html>